Repository natelandau/ansible-public-vps: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, lint-shellscript-templates, lint-shellscripts, ansible-encryption-check

.pre-commit-config.yaml:

---
repos:
    - repo: "https://github.com/commitizen-tools/commitizen"
      rev: v2.35.0
      hooks:
          - id: "commitizen"

    - repo: "https://github.com/pre-commit/pre-commit-hooks"
      rev: v4.3.0
      hooks:
          - id: check-added-large-files
          - id: check-ast
          - id: check-builtin-literals
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-json
            exclude: ^files/certs
          - id: check-merge-conflict
          - id: check-shebang-scripts-are-executable
          - id: check-executables-have-shebangs
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-toml
          - id: check-vcs-permalinks
          - id: check-xml
          - id: check-yaml
          - id: detect-private-key
          - id: mixed-line-ending
          - id: trailing-whitespace
            types: [python]
            args: [--markdown-linebreak-ext=md]

    - repo: "https://github.com/adrienverge/yamllint.git"
      rev: v1.28.0
      hooks:
          - id: yamllint
            files: \.(yaml|yml)$
            exclude: |
                (?x)^(
                \.cz|
                vault
                )\.(yaml|yml)$
            entry: yamllint --strict --config-file .yamllint.yml

    - repo: local
      hooks:
          - id: ansible-lint
            name: running ansible-lint
            language: system
            files: \.(yaml|yml)$
            pass_filenames: false
            entry: ansible-lint --force-color --config-file .ansible-lint.yml

          - id: lint-shellscript-templates
            name: lint shellscript templates
            language: system
            files: \.sh\.j2$
            entry: shellcheck -x --exclude=1009,1054,1056,1072,1073,1083,2001,2148

          - id: lint-shellscripts
            name: lint shellscripts
            language: system
            files: \.sh$
            entry: shellcheck -x --exclude=2001,2148

          - id: ansible-encryption-check
            name: Ansible Encryption Check
            language: system
            entry: scripts/ansible-vault-precommit.sh
            files: vault\.ya?ml$

feat(services): add Traefik
  default_variables.yml
  files/httpauth
  main.yml
  tasks/install-traefik.yml
  templates/traefik-config.toml.j2
  templates/traefik-docker-compose.yml.j2
  vault.yml
Due: ansible-lint, ansible-encryption-check

feat(networking): keep Cloudflare up-to-date with public IP changes
  .pre-commit-config.yaml
  default_variables.yml
  main.yml
  tasks/cloudflare-ip.yml
  templates/cloudflare-ip-update.sh.j2
  templates/traefik-docker-compose.yml.j2
  vault.yml
Due: ansible-lint, lint-shellscript-templates, ansible-encryption-check

fix(traefik): rotate logs
  default_variables.yml
  tasks/cloudflare-ip.yml
  tasks/install-traefik.yml
  templates/traefik-docker-compose.yml.j2
  templates/traefik.logrotate.j2
Due: ansible-lint

feat(services): add crowdsec
  default_variables.yml
  handlers/main.yml
  main.yml
  tasks/install-crowdsec.yml
  tasks/install-traefik.yml
  tasks/sanity.yml
  tasks/update.yml
  templates/crowdsec-email.yaml.j2
  templates/traefik-docker-compose.yml.j2
  vault.yml
Due: ansible-lint, ansible-encryption-check

fix(traefik): enable dashboard
  .ansible-lint.yml
  default_variables.yml
  tasks/install-traefik.yml
  templates/test-container.yml
  templates/traefik-docker-compose.yml.j2
  vault.yml
Due: ansible-lint, ansible-encryption-check

feat(services): add Plausible Analytics
  README.md
  handlers/main.yml
  main.yml
  tasks/install-plausible.yml
  templates/geoip.conf.J2
  templates/plausible-conf.env.j2
Due: ansible-lint

refactor(docker): refactor docker
  README.md
  default_variables.yml
  files/httpauth.txt
  handlers/main.yml
  main.yml
  tasks/cloudflare-ip.yml
  tasks/docker.yml
  tasks/install-plausible.yml
  tasks/install-traefik.yml
  tasks/sanity.yml
  tasks/scaffolding.yml
  templates/diagnostics-container.yml
  templates/docker.env.j2
  templates/traefik-config-middlewares.yml.j2
  templates/traefik-config.toml.j2
  templates/traefik-docker-compose.yml.j2
  vault.yml
Due: ansible-lint, ansible-encryption-check

feat(proxy): add authelia
  default_variables.yml
  handlers/main.yml
  main.yml
  tasks/install-reverse-proxy.yml
  tasks/install-traefik.yml
  tasks/scaffolding.yml
  templates/authelia-config.yml.j2
  templates/authelia-users.yml.j2
  templates/docker.env.j2
  templates/reverse-proxy-docker-compose.yml.j2
  templates/traefik-config-middlewares.yml.j2
  vault.yml
Due: ansible-lint, ansible-encryption-check

fix(plausible): put plausible behind authelia
  tasks/install-plausible.yml
  templates/authelia-config.yml.j2
  vault.yml
Due: ansible-lint, ansible-encryption-check

fix(proxy): allow public access to stats for natelandau.com
  handlers/main.yml
  tasks/install-plausible.yml
  templates/authelia-config.yml.j2
  templates/plausible-conf.env.j2
  vault.yml
Due: ansible-lint, ansible-encryption-check

docs(README): Update readme
  README.md
  default_variables.yml
  vault.yml
Due: ansible-lint, ansible-encryption-check

bump: version 0.0.0 → 0.1.0
  .cz.yaml
  CHANGELOG.md
Due: ansible-lint

fix(proxy): Add Authelia bypass for public Plausible dashboards
  templates/authelia-config.yml.j2
Due: none

feat(crowdsec): add authelia log parser and crowdsec bouncer
  default_variables.yml
  tasks/install-crowdsec.yml
  vault.yml
Due: ansible-lint, ansible-encryption-check

feat(nginx): add nginx container
  default_variables.yml
  handlers/main.yml
  main.yml
  tasks/install-crowdsec.yml
  tasks/install-reverse-proxy.yml
  tasks/install-website.yml
  tasks/scaffolding.yml
  templates/nginx-docker-compose.yml.j2
  templates/nginx-servers.conf.j2
  templates/nginx.conf.j2
  templates/nginx.logrotate.conf.j2
  templates/reverse-proxy-docker-compose.yml.j2
  templates/traefik.logrotate.conf.j2
  vault.yml
Due: ansible-lint, ansible-encryption-check

fix(nginx): docker container manages log rotation
  tasks/install-website.yml
  templates/nginx-docker-compose.yml.j2
  templates/nginx-servers.conf.j2
  templates/nginx.conf.j2
  templates/nginx.logrotate.conf.j2
Due: ansible-lint

refactor: rename ansible task from `install-web` to `install-nginx`
  main.yml
  tasks/install-nginx.yml
Due: ansible-lint

fix(nginx): fix 404 page location
  templates/nginx-servers.conf.j2
Due: none
